body {
    background-color: rgb(82, 82, 82);
    overflow: hidden;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
}

#score {
    position: absolute;
    left: 50vw;
    top: 2vh;
    font-size: 32px;
}

#player1 {
    left: 10vw;
    top: 50vh;
}

#player2 {
    right: 10vw;
    top: 50vh;
}

.block {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 0.2vw;
    height: 10vh;
}

.circle {
    position: absolute;
    border: 3px solid white;
    background-color: white;
    border-radius: 50%;
    width: 2vh;
    height: 2vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}